<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign Up: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="your name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="password" formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="repeat your password" formControlName="repeat">
      </mat-form-field>
      <app-image-list-select [useSvgIcon]="true" [cols]="6" [title]="'select avatar: '" [items]="items"
        formControlName="avatar">
      </app-image-list-select>
      <button mat-raised-button color="primary" type="button">Sign Up</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>don't have account? <a href="">sign up</a></p>
      <p>forget password? <a href="">reset password </a></p>
    </mat-card-actions>
  </mat-card>
</form >