<div
    fxLayout="row wrap"
>
    <app-project-item
        fxFlex="0 0 360px"
        fxFlex.xs="1 1 auto"
        fxLayout="row"
        class="card"
        *ngFor="let project of projects"
        [item]="project"
        (onInvite)="launchInviteDialog()"
        (onEdit)="launchUpdateDialog(project)"
        (onDel)="launchConfirmDialog(project)"
    >
    </app-project-item>
</div>
<button
    class="fab-button"
    mat-fab
    type="button"
    (click)="openNewProjectDialog()"
>
    <mat-icon>add</mat-icon>
</button>
