<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="button">Login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>don't have account? <a routerLink="/register">Sign Up</a></p>
      <p>forget password? <a href="">reset password </a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Renee is an Egg
      </mat-card-title>
      <mat-card-subtitle>
        Egg is the Best!
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/lifeOfPi-min.jpg" alt="tiger">
    <mat-card-content>
      love egg love baby
      love egg love baby
    </mat-card-content>
  </mat-card>
</form>